* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    text-align:center;
}
#controls{
    position:absolute;
    left:20px;
    top:10px;
    border:1px solid #000000;
    background-color: rgba(0,0,100,0.4);
    width:180px;
}
#mydrawing{
    position: absolute;
    left:200px;
    top:10px;
    border: 1px solid #000;
    background-color: #fff;
    cursor:pointer;
    /*
    * canvas用 0 auto无法居中Todo,canvas应该算是内敛元素，或者inline-block
    * 把body设置为text-align：center就居中了
    */
    -webkit-box-shadow:4px 4px 8px rgba(0,0,0,0.5);/*这最后如果不加分号，浏览器居然也不认*/
    -moz-box-shadow:4px 4px 8px rgba(0,0,0,0.5);
    box-shadow:4px 4px 8px rgba(0,0,0,0.5);
}

.oneLine{
    padding:10px;
    border-bottom: 1px solid red;
}
button{
    width:120px;
    height:30px;
}